<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.xgouchet.xmleditor"
    android:versionCode="12"
    android:versionName="2.3" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="fr.xgouchet.xmleditor.AxelApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_full"
        android:theme="@style/Axel" >

        <!-- Axel main activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >

            <!-- Launcher Intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Mime Type filters -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/xml" />
                <data android:mimeType="text/html" />
            </intent-filter>

            <!-- File extensions filters -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <!-- Standard XML extension -->
                <data
                    android:mimeType="application/xml"
                    android:scheme="file" />
                <data
                    android:mimeType="text/xml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xml"
                    android:scheme="file" />

                <!-- HTML extensions -->
                <data
                    android:mimeType="text/html"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.htm"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.html"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xhtml"
                    android:scheme="file" />

                <!-- XML APIs -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xsd"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xslt"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.rng"
                    android:scheme="file" />

                <!-- RSS feeds -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.atom"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.rss"
                    android:scheme="file" />

                <!-- Specific Markup Language -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.aiml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.cml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.ficml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.gml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.kml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.opml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.sbml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.scxml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.wml"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xaml"
                    android:scheme="file" />

                <!-- Graphic  Formats -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.dae"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.svg"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.x3d"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xmp"
                    android:scheme="file" />

                <!-- Other formats -->
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.dbk"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.ofx"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.plist"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.rnd"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.smil"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.wsdl"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xbrl"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xpl"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xrc"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xspf"
                    android:scheme="file" />
                <data
                    android:mimeType="*/*"
                    android:pathPattern=".*\\.xul"
                    android:scheme="file" />
            </intent-filter>
        </activity>

        <!-- Axel Edit Node activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelNodeEditorActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:label="@string/title_editor"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- Axel Sort Node Children activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelSortActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:label="@string/title_editor"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Axel preview activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelPreviewActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:label="@string/title_preview"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- Axel save as activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelSaveAsActivity"
            android:label="@string/title_save_as"
            android:theme="@style/Axel.Dark"
            android:windowSoftInputMode="adjustResize" >
        </activity>

        <!-- Axel open activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelOpenActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:theme="@style/Axel.Dark"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Axel open recent activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelOpenRecentActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:label="@string/title_open_recent"
            android:theme="@style/Axel.Dark"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Axel open template activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelOpenTemplateActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:label="@string/title_open_template"
            android:theme="@style/Axel.Dark"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Axel settings activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelHelpActivity"
            android:label="@string/title_help"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Axel settings activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelSettingsActivity"
            android:label="@string/title_settings"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Axel about activity -->
        <activity
            android:name="fr.xgouchet.xmleditor.AxelAboutActivity"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale|screenSize|smallestScreenSize"
            android:label="@string/title_about"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>