[submodule "AndroidLib"]
	path = AndroidLib
	url = git://github.com/xgouchet/AndroidLib
[submodule "Drag-sort-listview"]
	path = Drag-sort-listview
	url = git://github.com/bauerca/drag-sort-listview
[submodule "AXML"]
	path = AXML
	url = git://github.com/xgouchet/AXML
[submodule "PList"]
	path = PList
	url = git://github.com/xgouchet/PList
[submodule "NewQuickAction"]
	path = NewQuickAction
	url = git://github.com/xgouchet/NewQuickAction